 tr.MobileClient td {
   border-right: 1px solid #dfdfdf;
 }

 tr.MobileClient td:last-child {
   border-right: 0px;
 }

 tr.MobileClient td.active{
   background-color: darkgreen;
 }
 tr.MobileClient td.blocked{
   background-color: tomato;
 }
/* добавление нового клиента */
 .MobileClient-new{
   color: tomato;
 }