.MobileCompany table {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #dfdfdf;
  border-radius: 6px;
  border-collapse: separate;
  border-spacing: 0px;
}

.MobileCompany {
  padding: 15px 5px;
}
.MobileCompany table thead tr {
  color: #ffffff;
  font-weight: bold;
  background: #c83240;
}
.MobileCompany table thead tr td {
  padding: 10px 5px;
}


.MobileCompany table tbody tr:nth-child(1n) {
  background: #f6f6f6;
}

.MobileCompany table tbody tr:nth-child(2n) {
  background: #e6e6e6;
}
.section{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid darkcyan;
}
