

.product-card{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__wrap{
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: 3px 3px 5px #000;
  
}
.product_right, .product__left{
  padding: 20px;
}
.product_right{
  width: 300px;
}


.product__title{
  display: block;
  margin-bottom: 15px;
  
}
.product__subtitle{
    margin-bottom: 20px;
  }
.product__price{
  display: block;
  color: blueviolet;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 25px;
}
.product__character{
  font-size: 12px ;
  display: flex;
  justify-content: space-between;
}
