<div class="cinema__hall">
  <h2 class="hall__title">Зрительный зал</h2>
  <p class="hall__text">Места</p>
  <ul class="hall__seats">
    
    <li class="hall__seat ">1</li>
    <li class="hall__seat ordered">2</li>
    <li class="hall__seat ordered">3</li>
    <li class="hall__seat ordered">4</li>
    <li class="hall__seat ">5</li>
    <li class="hall__seat ">6</li>
    <li class="hall__seat ">7</li>
    <li class="hall__seat ">8</li>
    <li class="hall__seat ">9</li>
    <li class="hall__seat ">10</li>
    <li class="hall__seat ">11</li>
    <li class="hall__seat ">12</li>
    <li class="hall__seat ">13</li>
    <li class="hall__seat ">14</li>
    <li class="hall__seat ordered">15</li>
    <li class="hall__seat ordered">16</li>
    <li class="hall__seat ">17</li>
    <li class="hall__seat ">18</li>
    <li class="hall__seat ordered">19</li>
    <li class="hall__seat ordered">20</li>
  </ul>
  <!-- <div class="hall__content">
    <div class="hall__free"> Свободно мест - <span style="color: green; font-weight: bold;">{{getFreeTickets()}}</span></div>
    <div class="hall__ocupated"> Занято мест - <span style="color: tomato; font-weight: bold;">{{getOrderedTickets()}}</span></div>
  </div> -->
  
</div>